@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap');

/* CSS RESET */
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE STYLES --> applies to any media size */
body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F2F2;
  color: #111517;
}

.header {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  font-weight: 800;
}
.header__title{
  font-size: 1.5rem;
}
a {
  color: #000000;
  text-decoration: none;
}

/* end header style */

/* filter categories toogle btn */
.toggle__mode__btn {
  background-color: initial;
  border: none;
  cursor: pointer;
}

.toogle__theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

/* end filter categories toogle btn */

/* THEME SWITCH */

.dark__mode-icon--hidden,
.light__mode-icon--hidden {
  display: none;
}

.light__mode-icon,
.dark__mode-icon {
  transition: all .2s ease-in-out;
}

#dark{
  background: #202C36;
  color: #ffffff;
}

#dark header.header{
  background: #2B3844;
}

#dark header h1,
#dark .toggle__mode__btn {
  color: #ffffff;
}

#dark .search__textbox,
#dark .back__button,
#dark .country__card,
#dark .text__field,
#dark .drop__filter,
#dark .filter__bar {
  background: #2B3844;
  color: #ffffff;
}
#dark .filter__options {
  color: #ffffff;
}

#light header button,
#light .back__button {
  color: #111517;
  background-color: F2F2F2;
}

#dark,
#light {
  transition: all .2s ease-in 0s;
}

/* END THEME SWITCH */

/* search bar /pane */
.search__pane {
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.search__textbox {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1.187em;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.text__field {
  border: none;
  outline: none;
  color: #848484;
  width: 22em;
}

/* end search bar/pane */


/* filter by region options */
.filter__bar {
  display: flex;
  align-items: first end;
  justify-content: space-between;
  width: 12.5em;
  background-color: #fff;
  padding: 1.187em;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  cursor: pointer;
}

.filter__options {
  list-style: none;
  color: #111517;
  padding-inline: 0;
  margin-block: 0em;
  cursor: pointer;
}

.filter__options li:hover {
  background-color: #F2F2F2;
}

#dark .filter__options li:hover {
  background-color: #7e7d7d7c;
  color: #F2F2F2;

}

.drop__filter {
  position: absolute;
  width: 12.5em;
  background-color: #fff;
  padding: 1.187em 0 1.187em;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  font-size: 1rem;
  right: 0em;
  top: 4.25em;
  z-index: 1;
}

.drop__filter li {
  padding: .5em 1em;
  transition: .25s;
}

.rotate {
  transform: rotate(180deg);
}

.filter__arrow:hover {
  transition: .5s;
  background-color: #e5e4e4;
}

.filter__arrow {
  transition: .5s;
  padding: .27em;
  border-radius: 50%;
}

.hidden {
  display: none;
}

/* filter by region options */
.flag {
  height: 10em;
}

.flag>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1.5em;
}

.country__card {
  width: 16.5em;
  height: 21em;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  border-radius: 5px;  border-radius: .4em;
  cursor: pointer;
  overflow: hidden;
}


.country__card:hover {
  box-shadow: 0px 8px 24px 0px #241b1b50;
  transform: translateY(-.4em);
  transition: 0.2s cubic-bezier(.59, .54, .62, .56);
}

h2.country-name {
  font-size: 1.25rem;
  font-weight: 800;
  margin-block: 1em;
}

span.title {
  font-size: .875rem;
  font-weight: bold;
}

.country {
  display: block;
}

.countries__catalogue {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16.5em);
  justify-content: space-between;
  margin: 0 auto;
  row-gap: 2em;
  column-gap: 2em;
  width: 90%;
}

.country__details {
  padding-inline: 1.85em;
  line-height: 1.5;
}

.loading {
  font-size: 1.5em;
  color: rgb(136, 136, 136);
}

.search__textbox>svg {
  margin-right: 1.25em;
}


.back__button {
  font-size: .875rem;
  font-weight: 300;
  border: none;
  padding: .65em 1.75em;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
  background: #fff;
  margin-top: 3em;
  margin-bottom: 4em;
  margin-left: 5vw;
  cursor: pointer;
  border-radius: .4em;
}

.country__poster {
  width: calc(100% - 6em);
}

.poster-img {
  border-radius: .625em;
  overflow: hidden;
  height: 100%;
}

.poster-img > img {
  width: 100%;
  height: 100%;
}


.border__countries-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: .75em;
}

.border__countries li {
  list-style: none;
  border-radius: 5px;
  background-color: #e5e4e4;
  box-shadow: 0px 0px 10px 0.5px #7070704a;
  background: #fff;
  padding: .5em 2em;
}

div.country__poster-data>div>p>span {
  font-weight: 700;
}

.poster__details>h1 {
  margin-block-end: 1em;
  font-size: clamp(20px, 6vw, 34px);
}

.poster__details p:nth-child(2n+1) {
  line-height: 2em;
}

.border__countries h2 {
  font-size: 1em;
  margin-bottom: .5em;
}

.poster__details div:nth-child(n+1) {
  margin-bottom: 2em;
}

.poster__details div:last-child {
  margin-bottom: 3.75em;
}

.country__poster {
  width: calc(100vw - 10%);
  margin: 0 auto;
  display: grid;
  column-gap: 3em;
  grid-template-rows: 1fr auto;
}

.poster__container h1 {
  /* color: red; */
  margin-block-start: 4em;
}

.status_box {
  text-align: center;
}

/* Adjust styles for various screen sizes */
@media screen and (width >=12.5em) and (width <=47.9375em) {
  .countries__catalogue {

    justify-content: space-evenly;

  }

  .drop__filter {
    right: calc(100vw - 13.5em);
    top: 10.25em;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875em;
    padding: 1.56em;
  }

  .header h1 {
    font-size: 0.875rem;
    font-weight: 700;
  }

 
  button.toggle__mode__btn {
    font-size: 0.75em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
  }

  .text__field {
    font-size: 1em;
    font-size: .75em;
  }

  .search__textbox {
    width: calc(100% - 2em);
    margin: auto;
  }

  .filter__bar {
    width: 12.5em;
    margin: 2.5em 9.9375em auto auto;
    margin-top: 2.5em;
    margin-right: calc(100% - 9.9375em);
    margin-left: 1em;
  }

  .search__pane {
    margin-inline: 0;
    margin-top: 1.5em;
    margin-bottom: 2em;
  }

  .toogle__theme>svg {
    width: 16px;
    height: 16px;
  }

  .poster-img {
    margin-block-end: 2.75em;
  }

  .poster__details>h1 {
    margin-block-start: 1em;
  }
}


/* ---------------------------------------------------------- */
@media screen and (width >=37.625em) and (width <=47.9375em) {
  .status_box {
    display: grid;
    grid-template-columns: initial;
    grid-column: 1/-1;
    text-align: center;
  }

  .countries__catalogue {
    column-gap: 1.5em;
    row-gap: 4em;
  }

  .country__poster-data {
    display: flex;
    justify-content: space-between;
  }

  .country__poster-data:nth-child(2) {
    margin-right: 5em;
  }

  .poster__details>h1 {
    margin-block-start: 1em;
  }
}

@media screen and (width >=48em) {
  .status_box {
    display: grid;
    grid-template-columns: initial;
    grid-column: 1/-1;
    text-align: center;
  }

  .search__pane {
    display: flex;
    margin-top: 5em;
    margin-bottom: 2em;
    width: 90%;
    margin-inline: auto;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1.5em;
  }

  .toggle__mode__btn {
    font-weight: 600;
  }

  .country__poster-data {
    display: flex;
    justify-content: space-between;
  }

  .country__poster-data:nth-child(2) {
    margin-right: 5em;
  }

  .poster__details>h1 {
    margin-block-start: 1em;
  }
}


@media screen and (width >=64em) {

  .status_box {
    display: grid;
    grid-template-columns: initial;
    grid-column: 1/-1;
    text-align: center;
  }

  .country__poster {
    width: 90%;
    margin:-2em auto 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }

  .poster-img {
    max-width: 35em;
    height: 25em;
  }

  .poster__container {
    height: calc(100vh - 6.5em);
  }

}