@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F2F2;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: -1px 1px 5px #848484; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #fff;
}

a {
  color: #000000;
  text-decoration: none;
}

.header div {
  margin-inline: 5em;
}

/* end header style */

/* filter categories toogle btn */
.toggle__mode__btn {
  background-color: initial;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.toogle__icon {
  display: flex;
  justify-content: center;
}

/* end filter categories toogle btn */

/* search bar /pane */
.search__pane {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5em 5em 0 5em;
}

.search__textbox {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1.187em;
  box-shadow: 0px 5px 10px 0.5px #7070704a;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: .4em;
}

.text__field {
  border: none;
  outline: none;
  margin-left: 1em;
  font-size: 1em;
  color: #848484;
  width: 22em;
}

/* end search bar/pane */


/* filter by region options */
.filter__bar {
  display: flex;
  align-items: first end;
  justify-content: space-between;
  width: 12.5em;
  background-color: #fff;
  padding: 1.187em;
  box-shadow: 0px 5px 10px 0.5px #7070704a;
  border-radius: .4em;
  cursor: pointer;
}

.filter__options {
  list-style: none;
  color: #111517;
  padding-inline: 0;
  margin-block: 0em;
  cursor: pointer;
}

.filter__options li:hover {
  background-color: #F2F2F2;
}

.drop__filter {
  position: absolute;
  width: 12.5em;
  background-color: #fff;
  padding: 1.187em;
  box-shadow: 0px 0px 10px 0.5px #7070704a;
  border-radius: .4em;
  font-size: 1rem;
  /* left: 0; */
  right: 5em;
  top: 14.5em;
  /* bottom: 0; */
}

.rotate {
  transform: rotate(180deg);
}

.filter__arrow:hover {
  transition: .5s;
}
.filter__arrow {
  transition: .5s;
}

.hidden {
  /* display: none; */
}

.drop__filter li {
  padding: .5em;
  transition: .25s;
}

/* filter by region options */


.flag>img {
  width: 100%;
  height: 100%;
  border-radius: .5em .5em 0 0;
}

.country__card {
  width: 16.5em;
  height: 21em;
  display: inline-block;
  background-color: #fff;
  /* padding: 1.187em; */
  box-shadow: 0px 0px 10px 0.5px #7070704a;
  border-radius: .4em;
  cursor: pointer;
}

h2.country-name {
  font-size: 1.25rem;
  font-weight: 800;
}

span.title {
  font-size: 14px;
  font-weight: bold;
}

.country {
  display: block;
}

.countries__catalogue {
  width: 90%;
  margin: 0 auto;
}

.country__details {
  padding-inline: 1.85em;
}

.loading{
  font-size: 1.5em;
  color: red;
}